.section-title {
  @apply text-2xl uppercase tracking-wide font-light text-gray-700;
}

.accordion-toggle {
  display: block;
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: block;
}